<%--
  Created by IntelliJ IDEA.
  User: igor
  Date: 28.11.13
  Time: 00:03
  To change this template use File | Settings | File Templates.
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
  <title></title>
</head>
<body>
    <h1>Books page</h1>
</body>
</html>