<%--
  Created by IntelliJ IDEA.
  User: igor
  Date: 05.01.14
  Time: 16:10
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title></title>
    <meta name="layout" content="kickstart" />
</head>

<body>

</body>
</html>